<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <!--
        ATENÇÃO: A string de conexão "DefaultConnection" abaixo foi configurada com detalhes específicos do ambiente do usuário.
        É uma boa prática não commitar credenciais sensíveis diretamente no código, especialmente em repositórios compartilhados.
        Para produção ou outros ambientes, considere configurações externas ou segredos.
    -->
    <add name="DefaultConnection" connectionString="Data Source=ELIAS-DESK\MSSQLSERVER_CASA;Initial Catalog=DapperDemoDB;User ID=elias;Password=123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
